/* article{
  font-size: 32px;
  margin: auto;
}

html{

}

h1{
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

p{
  margin: 5px;
}

a{
  text-decoration: underline;
}

/* .container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
} */

/*
.blog{
  width: 450px;
  height: 750px;
  border: 1px solid black;
}

@media(min-width:600px) and (max-width:900px){

}

@media(min-width:901px){


} */ 
