/*
@media screen and (min-width:901px){
  .container{
    display: grid;
    width: 100%;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px 400px;
    grid-template-areas:
    "main1 main2 "
    "main3 main4";
    margin: auto;
    grid-gap: 30px;
    justify-content: center;

  }

  .title{
    font-size: 64px;
  }
  .box{
    font-size: 28px;
    width: 500px;
    height: 250px;
    border: 5px solid #d3d3d3;
    margin: 10px;
  }

  .blog{
    width: 450px;
    height: 750px;
    border: 1px solid black;
  }
  #ReadMore{
    font-size: 28px;
  }

} */
