header{
  height: 200px;
  background-image: url(https://www.publicdomainpictures.net/pictures/80000/velka/kitty-cat-1395206763uwr.jpg);
  background-color: #5F9EA0;
  margin-bottom: 20px
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 12.2%;
  padding: 0;
  bottom: 0;
}

article{
  font-size: 16px;
  margin: auto;
  width: auto;
  height: auto;
  border: 5px solid lightgrey;
}

li{
  display: inline;
  float: left;
}

body{
  margin: 0px;
  background-color: #fff4f2;
}

h1{
  margin-top: 0px;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}
h3 {
  margin: 2px;
  text-decoration: underline;
}

p{
  margin: 2px;
}

a{
  text-decoration: underline;
}

.date{
  color: darkgrey;
}

.title{
  font-size: 48px;
  color: #7fffd3;

}

.navbar{
  display: block;
  width: 65px;
  height: 25px;
  padding: 8px;
  text-align: center;
  align-items: center;
  background-color: #dddddd;
}

#item1{
  grid-area: main1;
}
#item2{
  grid-area: main2;
}
#item3{
  grid-area: main3;
}
#item4{
  grid-area: main4;
}

.container{
  display: grid;
  width: 100%;
  grid-template-columns: 300px;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas:
  "main1"
  "main2"
  "main3"
  "main4";
  margin: auto;
  grid-gap: 10px;
  justify-content: center;

}

.box{
  font-size: 15px;
  width: auto;
  height: 200px;
  border: 5px solid lightgrey;
}

.blog{
  width: 450px;
  height: 750px;
  border: 1px solid black;
}


/*
@media(min-width:600px) and (max-width:900px){
  .container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 300px 300px;
    grid-template-areas:
    "main1 main2 "
    "main3 main4";
    margin: auto;
    grid-gap: 10px;
    justify-content: center;

  }

  .title{
    font-size: 48px;
  }
  .box{
    font-size: 32px;
    width: 350px;
    height: 200px;
    border: 5px solid #d3d3d3;
    margin: 10px;
  }

  .blog{
    width: 450px;
    height: 750px;
    border: 1px solid black;
  }
  #ReadMore{
    font-size: 20px;
  }
}

@media screen and (min-width:901px){
  .container{
    display: grid;
    width: 100%;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px 400px;
    grid-template-areas:
    "main1 main2 "
    "main3 main4";
    margin: auto;
    grid-gap: 30px;
    justify-content: center;

  }

  .title{
    font-size: 64px;
  }
  .box{
    font-size: 28px;
    width: 500px;
    height: 250px;
    border: 5px solid #d3d3d3;
    margin: 10px;
  }

  .blog{
    width: 450px;
    height: 750px;
    border: 1px solid black;
  }
  #ReadMore{
    font-size: 28px;
  }

} */
